* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    border: 2px red solid;
    height: 750px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px, solid, black;
    border-radius: 5px;
    padding: 20px 10px;
    height: 400px;
    width: auto;
}


.nums{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;
    max-width: 220px;
}

.nums button {
    border-radius: 25px;
    background-color: rgb(84, 84, 84);
    color: white;
    font-size: 25px;
    height: 50px;
    width: 50px;
}

.symbols{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100px;
}

.btn-c{
    order: -1;
}


.symbols button{
    border-radius: 25px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    background-color: orange;
    color: aliceblue;
}


button:hover{
    transform: scale(1.2);
    transition: .2s;
}