/* TO DO

-   Watch videos & re-learn css flexbox 
to properly create good layouts 

*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.854);
    padding: 10px 10px;
    border-radius: 15px;
    margin-top: 80px;
}

.nums{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-basis: 0;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 10px;

}


.nums button{
    border: 2px solid black;
    border-radius: 40%;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(101, 101, 101, 0.41);
}

.nums .btn-e{
    background: lightblue;
}



.symbols{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    flex-shrink: 0;
    padding-top: 10px;
    margin-left: 5px;
}

.symbols button{
    border: 2px solid black;
    border-radius: 40%;
    padding: 5px 12px;
    font-size: 20px;
    color: white;
    background-color: rgba(101, 101, 101, 0.52);
}


.display{
    border: 1px solid rgb(133, 133, 133);
    width: 170px;
    height: 23px;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    overflow: auto;
    text-align: right;
    color: white;
    flex-shrink: 0;
}


button:hover{
    transition: .75ms;
    color: rgb(132, 0, 255)
}


/* 
finished off creating borders.

-   need to form the shape of the calculator.

*/