* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    border: 2px, solid, black;
    justify-content: center;
    border-radius: 5px;
    flex-wrap: wrap;
    max-width: 150px;
    flex-direction: column-reverse;

}

.symbols{
    border: 2px,solid,black;
    align-self: flex-start;
    flex-wrap: wrap;
  
}

.nums{
    border: 2px,solid,black;
    align-self: flex-start;
    max-width: 150px;
    flex-wrap: wrap;

}

button{
    border-radius: 20px;
    background-color: lightgreen;
    font-size: 25px;
}

button:hover{
    transform: scale(1.2);
    transition: .2s;
}

.symbols{
    display:flex;
    flex-direction: row-reverse;
    
}

.symbols button:hover{
    background-color: lightblue;
    color: aliceblue;
}

.symbols .btn-c:hover{
    background-color: violet;
    color: aliceblue;
}

.nums button:hover{
    background-color: darkgreen;
    color:aliceblue;
}

.btn-mn,.btn-p,.btn-m,.btn-d,.btn-e{
    background-color: lightcoral;
}

.btn-c{
    background-color:rgb(255, 255, 149);
}
